body {font-family:'lucida grande';}
input[type="text"], input[type="password"] { color: red }
textarea { width: 300px; height: 200px; }

.step {
    margin: 10px 0px 10px 0px;
}

.code{
    background: #F2F2F2;
    color: black;
    padding: 10px 10px 0.5px 10px;
    border-left: 3px solid #BDBDBD;
}

input {
    font-size:1em;
}

.code.rails{
    border-left: 3px solid #8A0829;
}